/* General Css */
.form-container {
  color: hsl(0, 0%, 10%);
  height: 297mm;
  flex-shrink: 0;
  overflow: scroll;
  flex-basis: 160mm;
  padding-left: 15px;
  padding-right: 15px;
}

label {
  font-size: 0.9rem;
  width: 100px;
  display: inline-block;
}

input[type="text"] {
  border: 1px solid hsl(0, 0%, 75%);
  color: hsl(0, 0%, 10%);
  padding: 3px 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  width: 400px;
}

input[type="number"] {
  border: 1px solid hsl(0, 0%, 75%);
  color: hsl(0, 0%, 10%);
  padding: 3px 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}

select {
  color: hsl(0, 0%, 10%);
  border: none;
  background-color: white;
}

textarea {
  width: 400px;
  height: 125px;
  border: 1px solid hsl(0, 0%, 75%);
  font-family: inherit;
  border-radius: 3px;
  padding: 3px 5px;
}

.select-container {
  border: 1px solid hsl(0, 0%, 75%);
  display: inline-block;
  margin-bottom: 5px;
  height: 19px;
  border-radius: 3px;
  padding-bottom: 5px;
}

.form-header {
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 16px;
}

.text-area-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
}

.removeBtn {
  background-color: hsl(0, 50%, 90%);
  color: white;
  border: white;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: grab;
  height: 20px;
  width: 20px;
  position: relative;
  top: 2px;
  padding: 0px;
}

.removeBtn:hover {
  background-color: hsl(0, 50%, 75%);
}

.reorderBtn {
  background-color: hsl(40, 50%, 80%);
  color: white;
  border: white;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: grab;
  height: 20px;
  width: 20px;
  position: relative;
  top: 2px;
  padding: 0px;
}
.reorderBtn:hover {
  background-color: hsl(40, 50%, 65%);
}
.add {
  background-color: hsl(110, 50%, 75%);
  color: white;
  border: white;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: grab;
}

.add-button-container {
  width: 512px;
  display: flex;
  justify-content: end;
  margin-bottom: 6px;
}

.add:hover {
  background-color: hsl(110, 50%, 60%);
}

.button-container {
  display: flex;
  gap: 5px;
  margin-left: 5px;
}
/* Css for column element  */

.form-large-header {
  margin-top: 30px;
  font-size: 1.4rem;
  font-weight: 600;
}

.form-bio .form-large-header {
  margin-top: 10px;
}

.left-column-title {
  padding-bottom: 10px;
}

.form-contact .input-container,
.form-reference .input-container {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
}

.form-info .input-container > div,
.form-list .input-container > div {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 10px;
}

.form-info .input-container > div:last-child,
.form-list .input-container > div:last-child {
  padding-bottom: 0px;
}

.form-list .add-button-container {
  margin-top: 8px;
}

.form-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-header > .removeBtn {
  margin-left: 10px;
}

.form-experience .input-container button {
  margin-bottom: 10px;
}

.form-experience .input-item {
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 10px;
}

.form-experience .input-item > .removeBtn {
  position: relative;
  right: 10px;
  align-self: start;
}

.form-experience .input-subgroup > .removeBtn {
  position: relative;
  left: 20px;
}

.form-experience .input-subgroup {
  display: grid;
  grid-template-columns: auto auto;
}

.column-add-container {
  padding: 15px 0px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid hsl(0, 0%, 80%);
  border-bottom: 1px solid hsl(0, 0%, 40%);
}
