.behance-icon {
  font-size: 0.9rem;
}

.dribbble-icon {
  font-size: 0.9rem;
}

.envelope-icon {
  font-size: 0.9rem;
  position: relative;
  top: 1px;
}

.facebook-icon {
  font-size: 0.9rem;
}

.github-icon {
  font-size: 0.9rem;
}

.house-icon {
  font-size: 0.9rem;
}

.instagram-icon {
  font-size: 1rem;
}

.linkedIn-icon {
  font-size: 1rem;
}

.phone-icon {
  font-size: 0.85rem;
}

.website-icon {
  font-size: 0.8rem;
}

.twitter-icon {
  font-size: 0.9rem;
}

.whatsapp-icon {
  font-size: 0.9rem;
}
