.contact img {
  padding-right: 3px;
  filter: opacity(85%);
}

.behance-icon {
  height: 12px;
}

.dribbble-icon {
  height: 13px;
}

.envelope-icon {
  height: 12px;
  position: relative;
  top: 1px;
}

.facebook-icon {
  height: 14px;
}

.github-icon {
  height: 13px;
}

.house-icon {
  height: 13px;
}

.instagram-icon {
  height: 13px;
}

.linkedIn-icon {
  height: 13px;
}

.phone-icon {
  height: 13px;
}

.website-icon {
  height: 13px;
}

.twitter-icon {
  height: 13px;
}

.whatsapp-icon {
  height: 13px;
}
